:root {
    --currencyTypeColor: rgb(134, 206, 235);
    --currencyTypeBackgroundColor: rgb(255, 255, 255);

    --textColor: rgb(0, 0, 0);
    --textBackgroundColor: rgb(255, 255, 255);
    --textBorderColor: rgb(124, 124, 124);

    --backgroundColor: rgb(255, 255, 255);
}

.input-field {
    padding: 5px;
    padding-right:50px;
    font-size: 1em;
    width: 100px;
    color: var(--textColor);
    background-color: var(--textBackgroundColor);
    border-color: var(--textBorderColor);
  }
  
.input-select {
    height:24px; 
    color:var(--currencyTypeColor);
    background-color: var(--currencyTypeBackgroundColor);
    font-weight:bold;
    border:none; 
    outline:none;
    margin-left:-65px;
    padding: 2px;
    padding-right: 7px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

body {
    background-color: var(--backgroundColor);
}