.input-field {
    padding: 5px;
    padding-right:50px;
    font-size: 1em;
    width: 120px;
  }
.input-select {
    height:24px; color:skyblue; font-weight:bold; border:none; outline:none;
    margin-left:-65px;
    padding: 2px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}